<!-- user_list.html -->
{% extends 'basic_generic.html' %}

{% block content %}
    <h2>User List</h2>
    <form method="get">
        <label>
            <input type="text" name="search" value="{{ request.GET.search }}">
        </label>
        <input type="submit" value="Search">
        <a href="{% url 'user_management:user_list' %}" class="button">Reset</a>
    </form>
  <ul>
    {% for user in users %}
      <li>
        <a href="{% url 'user_management:user_detail' pk=user.pk %}">{{ user.get_full_name }}</a>
        - {{ user.role }}
          {% if request.user.is_superuser or request.user.id == user.id %}
            <a href="{% url 'user_management:update_user' user.id %}">Edit</a>
          {% endif %}
      </li>
    {% empty %}
      <li>No users found.</li>
    {% endfor %}
  </ul>
{% endblock %}
