{% extends 'basic_generic.html' %}
{% block title %}Course Details{% endblock %}

{% block content %}
<h2>{{ course.title }} Details</h2>
<p><strong>Course Code:</strong> {{ course.code }}</p>
<p><strong>Description:</strong> {{ course.description }}</p>
<p><strong>Instructor:</strong> <a href="{% url 'user_management:user_detail' course.instructor.id %}">{{ course.instructor.get_full_name }}</a> ({{ course.instructor.email }})</p>
<p><strong>TAs:</strong></p>
<ul>
    {% for ta in course.tas.all %}
    <li><a href="{% url 'user_management:user_detail' ta.id %}">{{ ta.get_full_name }}</a> ({{ ta.email }})</li>
    {% endfor %}
</ul>
<p><strong>Lab Sections:</strong></p>
<ul>
    {% for lab_section in lab_sections %}
    <li><a href="{% url 'lab_section_management:lab_section_detail' lab_section.id %}">{{ lab_section.number }}</a>: {{ lab_section.schedule }}</li>
    {% endfor %}
</ul>
<p><strong>Semester:</strong> {{ course.semester }}</p>
<p><strong>Year:</strong> {{ course.year }}</p>
{% if request.user.role == 'Supervisor' or request.user.is_superuser %}
    <a href="{% url 'course_management:course_update' course.id %}">Edit</a>
    <a href="{% url 'course_management:course_delete' course.id %}">Delete</a>
{% endif %}
{% endblock %}