{% extends 'basic_generic.html' %}

{% block content %}
<h2>Course List</h2>
<form method="get">
    <label>
        <input type="text" name="search" value="{{ request.GET.search }}">
    </label>
    <input type="submit" value="Search">
    <a href="{% url 'course_management:course_list' %}" class="button">Reset</a>
</form>
<ul>
    {% for course in courses %}
    <li>
        <a href="{% url 'course_management:course_detail' course.id %}">{{ course.title }}</a>
        - {{ course.instructor.get_full_name }} - ({{ course.semester }} {{ course.year }})
        {% if request.user.role == 'Supervisor' or request.user.is_superuser %}
            <a href="{% url 'course_management:course_update' course.id %}">Edit</a>
            <a href="{% url 'course_management:course_delete' course.id %}">Delete</a>
        {% endif %}
    </li>
    {% empty %}
    <li>No courses available.</li>
    {% endfor %}
</ul>
{% endblock %}