<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">TA Scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'search_select' %}" method="get">
                        <input type="submit" value="Search">
                    </form>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Access Admin Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Quick Create
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'user_management:create_user' %}">Create User</a></li>
                                <li><a class="dropdown-item" href="{% url 'lab_section_management:lab_section_create' %}">Create Lab Section</a></li>
                                <li><a class="dropdown-item" href="{% url 'course_management:course_create' %}">Create Course</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'user_management:send_email' %}">Send Email</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="text-decoration: none; color: inherit; background: none; border: none; padding: 0; font: inherit; cursor: pointer;">Logout</button>
                            </form>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>